$navbar: #000;
$background: #6495ED;

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: $background;
	font-family: Tahoma, Helvetica, sans-serif;
}

h1 {
	margin: 0 0 1%;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-shadow: 0 5px 8px #1859ce;
	font-size: 20em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin: -40px 0 6%;
}

h4 {
	font-family: 'Roboto', sans-serif;
	color: $background;
	text-transform: uppercase;
	font-size: 2em;
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3%;
}

.container-fluid {
	width: 90%;
	margin: 0 auto;
}

#content input {
	margin: 0 auto 20px;
	width: 50%;
	font-size: 2em;
}

#content input#password {
	margin-bottom: 40px;
}

.form-control {
	height: auto;
}

.row {
	box-shadow: inset 0 0 20px #1859ce;
	border-radius: 10px;
	margin-top: 30px;
	padding: 10px 0;
	min-height: 500px;
}

.navbar {
	border-radius: 0px;
}

.navbar-default {
	background-color: $navbar;
	color: #fff;
	border: none;
}

.navbar-left {
	width: 50%;
}

.navbar-right {
	padding: 15px 20px 10px;
}

.navbar-form .form-control {
	width: 100%;
}

.glyphicon {
	color: #fff;
}

#buttons {
	padding: 10px;
}
 
button {
	margin: 0 10px;
}

#topchoices {
	text-align: left;
}

#topchoices h3 {
	display: inline-block;
	margin: 0 20px 0 0;
	font-size: 2.4em;
	text-shadow: 0 5px 8px #1859ce;
	vertical-align: bottom;
}

#topchoices button {
	margin: 0;
}

#searchSubmit {
	display: none;
}

#logout {
	display: inline-block;
}

#logout:hover {
	cursor: pointer;
	color: #ffdead;
}

#greeting {
	display: inline-block;
	margin-right: 15px;
}

div.modal-body {
	background-color: $background;
	color: #fff;
	font-size: 1.3em;
}

div.form-group {
	width: 100%;
}

.col-md-3 {
	min-height: 360px;
	overflow: hidden;
	margin-bottom: 20px;
	transition: 1s;
}

.col-md-3 img {
	height: 300px;
	min-width: 200px;
	cursor: pointer;
}

.add,
.watch {
	margin: 10px auto 0;
	display: block;
	transition: 1s;
}

.watch {
	background-color: #8b0000;
}

.noposter {
	height: 300px;
	width: 210px;
	margin: 0 auto;
	text-align: center;
	padding: 130px 10px;
	font-weight: bold;
	border: 1px solid #000;
	background-color: #dcdcdc;
	cursor: pointer;
}

.closeButton {
	border-radius: 50%;
	background-color: #000;
	position: relative;
	top: 15px;
	left: 205px;
	color: #fff;
	width: 28px;
	border: 2px solid #fff;
	padding: 2px;
}

.closeButton:hover {
	cursor: pointer;
}

.notAdded {
	padding-top: 28px;
}

#starbox {
	text-align: center;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.star-rating i:hover {
  cursor: pointer;
}

.flash.error {
    background-color: #BD4F5C;
}

.errorId {
    margin: 0 0 4%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 0 5px 8px #1859ce;
    font-size: 2em;
}





