$navbar: #000;
$background: #ffdead;

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: $background;
	font-family: Tahoma, Helvetica, sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
}

.navbar-default {
	background-color: #000;
	color: #fff;
}

.navbar-left {
	width: 50%;
}

.navbar-right {
	padding: 15px 15px 10px;
}

.glyphicon {
	color: #fff;
}

#buttons {
	padding: 10px;
}
 
button {
	margin: 0 10px;
}

.col-md-4 {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}