	<div class="col-md-3">
		<img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" alt={{Title}}>
		<button class="watch btn btn-primary" data-toggle="modal" data-target="#starRatingModal" id="{{@key}}">Watched?</button>
	</div>