{{#each Search}}
	<div class="col-md-4">
		<img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" alt={{Title}}>
		<p>{{Title}}</p>
		<button class="add" imdb="{{imdbID}}">Add</button>
	</div>
{{/each}}
