{{#each Search}}
	<div class="col-md-3">
		<div class="closeButton">X</div>
		<img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" alt={{Title}}>
		<button class="add" imdb="{{imdbID}}">Add</button>
	</div>
{{/each}}
